.header {
    color: white;
    margin-bottom: 2rem;

    h1 {
        #userEditForm {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }

        .user-name-input-wrapper {
            display: flex;
            justify-content: center;
            column-gap: 20px;
            padding-top: 20px;

            input {
                height: 35px;
                padding: 0 10px;
                font-weight: 500;
                font-family: inherit;
                font-size: 18px;
                color: #2c3e50;
                border: 2px solid #c8cccf;
                border-radius: 5px;

                &::placeholder {
                    color: #c8cccf;
                }

                &:focus {
                    border: 2px solid #00bc77;
                    outline: 0;
                }
            }
        }
    }

    .edit-buttons-wrapper {
        display: flex;
        justify-content: center;
        column-gap: 20px;
    }

    .edit-button {
        width: 130px;
        background-color: #00bc77;
        border: 2px solid #00bc77;
        color: white;
        padding: 6px 10px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
    }
}

.account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #303e4bea;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 2rem;
    border-radius: 5px;

    .account-content-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1;
        row-gap: 3px;

        .account-title {
            margin: 0;
            padding: 0;
            font-size: 1rem;
            font-weight: 600;
            color: #303e4bea;
        }

        .account-amount {
            margin: 0;
            font-size: 2.5rem;
            font-weight: bold;
        }

        .account-amount-description {
            margin: 0;
            font-size: 14px;
            font-weight: 600;
            color: #303e4bd2;
        }

        .transaction-button {
            display: block;
            width: 100%;
            padding: 8px;
            font-size: 1.1rem;
            font-weight: 400;
            margin-top: 1rem;
            background-color: #00bc77;
            color: #fff;
            border-style: none;
            border-radius: 5px;
            font-family: inherit;
        }
    }
}

@media (min-width: 720px) {
    .account {
        flex-direction: row;

        .account-content-wrapper.cta {
            flex: 0;

            .transaction-button {
                width: 200px;
            }
        }
    }
}
